body {
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  perspective: 3000px;
}

.stack {
  position: relative;
  width: max-content;
  height: auto;
  transform-style: preserve-3d;
  transform: rotateY(-10deg);
}

.stack img {
  position: absolute;
  width: 150px;
  height: 100px;
  object-fit: cover;
  transform-style: preserve-3d;
  transform:
    translateX(calc(var(--i) * 10px))
    translateY(calc(var(--i) * -5px))
    translateZ(calc((100 - var(--i)) * 10px));
  transition: transform 0.3s ease;
    outline: 1px solid rgba(0, 0, 0, 0.3); /* 회색 반투명 테두리 */

  
}

.stack img:hover {
  transform:
    translateX(calc(var(--i) * 10px))
    translateY(calc(var(--i) * -5px -50px +var(--i) * 5px))
    translateZ(calc((100 - var(--i)) * 10px));
  z-index: 100;
}
